"minecraft:transformation": {
    "translation": {{ translation }},
    "scale": {{ scale }},
    "scale_pivot": {{ scale_pivot }},
    "rotation": {{ rotation }},
    "rotation_pivot": {{ rotation_pivot
}