{
  "format_version": "1.20.40",
  "minecraft:block": {
    "description": {
      "identifier": "{{ type_id }}",
      "states": { {{ states }} },
      "traits": { {{ traits }} }
    },
    "components": {
        {{components}}
    },
    "permutations": [{{ permutations }}]
  }
}