{
    "format_version": "1.17",
    "minecraft:recipe_furnace": {
        "description": {
            "identifier": "{{id}}"
        },
        "tags": {{tags}},
        "input": {{input}},
        "output": "{{output}}"
    }
}