{
  "format_version": "1.12",
  "minecraft:recipe_shapeless": {
    "description": {
    "identifier": "{{id}}"
    },

    "tags": {{tags}},
    "ingredients": [{{ingredients}}],
    "result": {{result}}
  }
}