{
  "format_version": "1.12",
  "minecraft:recipe_shaped": {
    "description": {
        "identifier": "{{id}}"
    },

    
    "tags": {{tags}},
    "pattern": {{pattern}},
    "key": {
      {{ingredients}}
    },
    "result": {{result}}
  }
}