{
  "format_version": 2,
  "metadata": {
    "authors": ["{{author}}"],
    "generated_with": {
        "violetrs": ["1.0.0"]
    }
  },
  "header": {
    "name": "{{name}}",
    "description": "{{description}}",
    "min_engine_version": [1, 20, 50],
    "uuid": "{{uuid_1}}",
    "version": [1, 0, 0]
  },
  "modules": [
    {
      "type": "resources",
      "uuid": "{{uuid_2}}",
      "version": [1, 0, 0]
    }
  ]
}
